@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --textColor: white;
}

body {
  background-color: #172554;
}

.container {
  margin: 0 auto;
  width: calc(100% - 80px);
  max-width: 1595px;
}
.dark {
  background-color: #172554;
}
